<article class="row">
  <section class="book-cover-container col-md-4 text-center">
    <a href="<%= url("/books/#{book.id}") %>">
      <img class="book-cover book-cover-frame" src="<%= path_uri(settings.library['remote'] && settings.library['path'], book_cover_uri(book)) %>" alt="<%= book.title %> Cover" />
    </a>
    <a class="btn btn-info" href="<%= url("/books/#{book.id}/read") %>">Read Online</a>
  </section>
  <section class="book-info col-md-8">
    <header>
      <h2><%= book.title %></h2>
    </header>
    <% if book.formats.count > 0 %>
    <p class="book-download-links">
      <%= erb(:"_partials/book_download_links", locals: { book: book }) %>
    </p>
    <% end %>
    <p class="book-authors">
      By <%= erb(:"_partials/book_author_list", locals: { authors: book.authors }) %>
    </p>
    <% if book.series.count > 0 %>
    <% series = book.series[0] %>
    <p class="book-series">
      <%= erb(:"_partials/book_series_link", locals: { book: book }) %>
    </p>
    <% end %>
    <% if book.comment %>
    <p class="book-description">
      <%= book.comment.text %>
    </p>
    <% end %>
    <footer>
      <section class="book-rating"></section>
    </footer>
  </section>
</article>
