<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% if defined? description %>
    <meta name="description" content="<%= description %>">
    <% end %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <% if defined? title %>
    <title>Testudo: <%= title %></title>
    <% else %>
    <title>Testudo</title>
    <% end %>
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="main-header text-center text-md-left">
          <a href="<%= url('/') %>">Testudo</a>
        </h1>
      </header>
      <nav>
        <ul class="nav nav-pills justify-content-center justify-content-md-start">
          <li class="nav-item">
            <a class="nav-link" href="<%= url('/books') %>">
              <i class="fa fa-book" aria-hidden="true"></i>Books
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= url('/series') %>">
              <i class="fa fa-inbox" aria-hidden="true"></i>Series
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= url('/authors') %>">
              <i class="fa fa-user" aria-hidden="true"></i>Authors
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= url('/search') %>">
              <i class="fa fa-search" aria-hidden="true"></i>Search
            </a>
          </li>
        </ul>
      </nav>
      <main>
        <%= yield %>
      </main>
      <footer>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/zellio/testudo">GitHub Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/zellio/testudo/issues">Issues</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
